[2019-10-30 12:47] bittner opened #1 "Create automated image builds"
Planned tasks to refactor `modsecurity-crs-docker`
-------------------------------

* Move the Docker setup from [owasp-modsecurity-crs](https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.3/dev/util/docker) (`/util/docker`) to the new `modsecurity-crs-docker` repository
* Automate building images for all supported CRS versions on the various flavors of the `modsecurity-docker` images

###

[2019-12-20 08:26] bittner commented on #1
Having started with refactoring the [owasp/modsecurity-crs](https://hub.docker.com/r/owasp/modsecurity-crs) Docker image I figured that there is probably very little benefit to overwhelm developers with a full choice of

* the ModSecurity version (2 or 3)
* the Web proxy platform (Apache, Nginx, more in future)
* the CRS version

It's probably sufficient to satisfy the use case of wanting to choos

[2019-12-20 15:32] bittner commented on #1
More design decisions:

* The ModSecurity configuration files will live in `/opt/modsecurity` and will only by symlinked into the Web proxy's configuration
* The CRS files will live  in `/opt/owasp-crs` and will only be symlinked into the ModSecurity configuration
* More tools and configuration related to ModSecurity or CRS may also live in `/opt` (scripts or binaries therein will be symlinked in

[2019-12-20 16:41] franbuehler commented on #1
Thanks for pinging me and thanks for your proposals, @bittner . I like them!
I like the idea of reducing the number of images and making it easier for developers to choose an image. You're right, the other combinations of webservers and ModSecurity versions probably don't make sense at the moment. And it's easier for our project if we have to maintain less images.
The tagging scheme makes sense.

[2020-01-03 09:08] bittner opened #2 "Use sed in entrypoint instead of Python"
The Docker image currently needs to install Python because the [entrypoint script](https://github.com/CRS-support/modsecurity-crs-docker/blob/master/src/docker-entrypoint.sh) uses substring replacements with Python.

Installing Python increases the images size and provides a potential attacker tooling, which should be avoided if possible. It looks like Python is only used because `sed` is traditio

[2020-01-03 09:35] bittner opened #3 "Make image configurable with more ENV variables"
The image currently provides ENV variables for paranoia level and anomaly scores to allow configuring the image behavior at runtime.

We would suggest to add more environment variables to make is easy to use the image out-of-the-box in cloud-native scenarios. The ones we have battle-tested in OpenShift/Kubernetes environments are specified by our [vshn/modsecurity](https://github.com/vshn/modsecur

[2020-01-21 09:47] #2 closed

[2020-01-22 13:44] bittner commented on #3
We just figured that it makes sense to incorporate the environment variables directly in the [crs-setup.conf](https://github.com/CRS-support/modsecurity-crs-docker/blob/master/3.3-apache/Dockerfile#L24), which [comes from the CRS project](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/crs-setup.conf.example) and is integrated via the `Dockerfile`, currently.

Depending on whethe

[2020-01-24 09:52] bittner commented on #1
The automatic builds are now in place. The following [images (tags)](https://hub.docker.com/r/owasp/modsecurity-crs/tags) are added/updated on Ducker Hub:

* `3.3`, `3.3-apache`, `apache`
* `3.3-nginx`, `nginx`

The `latest` tag is not updated yet (to avoid affecting everyone's daily business).

[2020-01-24 09:52] #1 closed

[2020-02-13 12:03] fzipi opened #6 "Consider adding docker security scanner?"
We may want to add an action for docker security scanning:

https://github.com/phonito/phonito-scanner-action

[2020-02-29 14:16] fzipi opened #8 "Entrypoint needs proper quoting"
Running in compose, this arised:

[code]
And I just copied default values from documentation!

This happends because `docker-entrypoint.sh` isn't properly quoted. Will send a patch for this.

[2020-03-01 15:25] #8 closed

[2020-03-02 12:19] ZuGao commented on #3
As agreed with @dune73 at Bern meetup we will add the environment variables to the image. The first batch of variables were already added, and there are more to come in a subsequent pull request. We also plan to port the changes to the upstream image as well.

[2020-03-17 09:27] bittner commented on #3
Merged #11. More related work happens upstream in https://github.com/CRS-support/modsecurity-docker/pull/38.

[2020-03-20 16:13] bittner commented on #3
https://github.com/CRS-support/modsecurity-docker/pull/38 is now ready for code review. A first step towards a plain ModSecurity Docker image generally useful (before loading the CRS). Feel free to give it a shot.

[2020-07-10 14:54] Fillonj opened #13 "ModSecurity was not compiled with JSON"
Hello, I'm trying to build a waf based on Nginx + ModSecurity + CRS which log in logstash without blocking at first.

In my compose i've tried the images :
[code]
and in my modsecurity-override.conf i've tried :

[code]
or also

[code]

In every case i got the error "ModSecurity was not compiled with JSON" received by logstash or "{"error":"ModSecurity was not compiled with JSON support."}" in mod

[2020-07-16 09:33] Fillonj commented on #13
For information,
i've rebuild the owasp/modsecurity:nginx docker image and then i've rebuild the owasp/modsecurity-crs:3.3-nginx docker image this time basing it on my previously build modsecurity image without changing anything else in the Dockerfiles, and it works.
The JSON parser is working when i use the HTTPS mode to send the logs to my ELK

[2020-07-31 22:09] shiz0 opened #14 "Update sources?"
Docker Hub for these images (https://hub.docker.com/r/owasp/modsecurity-crs/), as well as the Dockerfiles in here, both link the now archived repo https://github.com/SpiderLabs/owasp-modsecurity-crs
Shouldn't they be updated to link/pull from here now?
I'm thinking about using them to host some sites, but I'm unsure about if they will get future updates like this.
Thanks.

[2020-08-01 10:55] bittner commented on #14
The README on Docker Hub is not updated automatically since we build the images with GitHub Actions and don't let Docker Hub take care of it. That needs to be updated manually. Thanks for reporting!

[2020-08-01 14:13] shiz0 commented on #14
Thank you for pointing out that the docker Hub images are actually built from this repo.
What about the Dockerfiles in here? They also seem to reference the archived one:
https://github.com/coreruleset/modsecurity-crs-docker/blob/master/3.3-nginx/Dockerfile
https://github.com/coreruleset/modsecurity-crs-docker/blob/master/3.3-apache/Dockerfile

[2020-08-01 21:46] shiz0 opened #15 "nginx won't reverseproxy (missing proxy variables in default.conf)"
The default.conf used for the nginx image:
https://github.com/coreruleset/modsecurity-crs-docker/blob/master/3.3-nginx/conf.d/default.conf
does not include proxy info, like the one of the parent image does:
https://github.com/coreruleset/modsecurity-docker/blob/master/v3-nginx/conf.d/default.conf

I was able to get it to proxy by mounting a default.conf to the image which included some of the pare

[2020-08-02 07:54] bittner commented on #14
The repository was moved only recently. You can expect most if not all absolute URLs to point to the "wrong" location. If you want to try a PR to fix the situation that would be helpful. Only the `master` branch is relevant, you can ignore all other branches.

[2020-08-02 22:52] shiz0 commented on #14
I hope the PR is fine like that.
Which `master` branch do you mean? This repo here only has that one.
Maybe those in https://github.com/coreruleset/modsecurity-docker? If I understood correctly, those are obsoleted to reduce images to just two variants, developed under `master`? I checked there as well, but did not find any references to the archived repo.

[2020-08-02 23:32] bittner commented on #14
That's correct, there is only a single branch here. I mixed this up with the [modsecurity-docker](https://github.com/coreruleset/modsecurity-docker/) repository. Sorry!

[2020-08-04 10:50] #14 closed

[2020-08-07 18:17] bittner commented on #15
That's true. All the configuration needed is already included in the base image. The [default.conf](https://github.com/coreruleset/modsecurity-crs-docker/blob/master/3.3-nginx/conf.d/default.conf) in this repository should hence be deleted.

Do you want to verify whether deleting the file and removing [its related line in the Dockerfile](https://github.com/coreruleset/modsecurity-crs-docker/blob/m

[2020-08-30 15:10] franbuehler commented on #6
I tried this in my fork and it works. We have vulnerabilities in our images though:

**modsecurity-crs-docker**
https://github.com/franbuehler/modsecurity-crs-docker/runs/1047826260?check_suite_focus=true:

[code]

I think a rebuild and push of the underlying owasp/modsecurity-docker image would already help, we have fewer vulnerabilities there:

**modsecurity-docker**
https://github.com/franbuehl

[2020-08-30 20:15] bittner commented on #6
Adding a scheduled scan makes certainly sense. We should then only trigger rebuilding the image when necessary, e.g. when vulnerabilities were found.

[2020-08-30 22:44] fzipi commented on #6
This looks cool @franbuehler ! I think @bittner has a point in just creating a new one only when something is found. Do you need additional help with setting it up?

[2020-08-31 06:55] bittner commented on #6
Whatever you can do that brings us forward is super-welcome!

We, at @vshn, would still need to invest time to verify the 4 main images ([owasp/modsecurity:apache](https://hub.docker.com/r/owasp/modsecurity/tags), [owasp/modsecurity-crs:apache](https://hub.docker.com/r/owasp/modsecurity-crs/tags), and [owasp/modsecurity:nginx](https://hub.docker.com/r/owasp/modsecurity/tags),  [owasp/modsecurity-c

[2020-08-31 07:05] bittner commented on #3
PR #38 was merged on March 27. Hence, closing this issue.

[2020-08-31 07:05] #3 closed

[2020-09-01 07:15] franbuehler commented on #6
Thank you @fzipi and @bittner
Ok, I'll try to implement this (when I find some time).

And yes, then we should investigate which changes are still missing in our official images and what else needs to be done.

[2020-09-08 05:38] Eshaan7 opened #18 "Wrong GitHub URl on hub.docker.com"
The repository on Docker hub points to the wrong/old GitHub URL. https://hub.docker.com/r/owasp/modsecurity-crs/

[2020-09-08 13:14] bittner commented on #18
Thanks for reporting this!

The reason why the README on Docker Hub  doesn't reflect the latest advancements is that we build the images here, with GitHub Actions, which doesn't automatically update the Docker Hub README (while builds on Docker Hub do).

We should always push the content of the latest README to Docker Hub when we publish an image. This needs to be done by an API call (see [this SO

[2020-09-14 15:55] bittner commented on #6
Relates to https://github.com/coreruleset/modsecurity-docker/issues/43.

[2020-10-13 01:34] stellarpower opened #19 "Add More Architectures"
More or less what it says on the tin. Currently it seems only the AMD64 image is available on Docker Hub, I don't know if other builds are made or are in the pipeline but it would be good to support some other systems, e.g. ARM for SoC servers, or i386 for the odd bit of legacy hardware.

As an aside, I had some further comments about the Docker Hub page, should I open a new issue, or wait until #

[2021-01-22 23:45] jsommerville-untangle commented on #15
See the PR I opened addressing the above, but something that looks to still be an issue in the base image, is DNS_SERVER required for non-reverse proxy situations in the base image as well? Seems like you will see this error if it's not passed in:

 `2021/01/22 23:43:39 [emerg] 1#1: no name servers defined in /etc/nginx/conf.d/default.conf:13
nginx: [emerg] no name servers defined in /etc/nginx/co

[2021-01-23 00:07] jsommerville-untangle commented on #15
I see the issue to my above comment, this exists in the base image but not in this nginx image:
https://github.com/coreruleset/modsecurity-docker/blob/3fbeb6663f140082ada02ee3229fc07a25276368/v3-nginx/docker-entrypoint.sh#L3

I force pushed the PR branch, adding in the entrypoint DNS_SERVER export and removing the commit adding the DNS_SERVER env variable into the 3.3-nginx/Dockerfile

[2021-01-31 11:43] fzipi commented on #15
@jsommerville-untangle Thanks for the PR, merged the fix.

[2021-01-31 11:43] #15 closed

[2021-02-24 10:03] franbuehler opened #26 "Remove env var PROXY and rename UPSTREAM to BACKEND in README.md"
As a reminder for myself.

[2021-03-07 13:11] fzipi commented on #19
Hey! Regarding the docker hub page, probably #23 will fix it.

[2021-03-08 17:33] fzipi commented on #18
I tried updating and using the (action from peterevans](https://github.com/peter-evans/dockerhub-description), but the problem is that is need my user and password (doesn't work with tokens), so for now the update must be run manually using:

[code]

You can see more information about it here: https://github.com/marketplace/actions/update-container-description-action#limitations

[2021-03-16 12:58] TRget88 commented on #26
Hello franbuehler, So the vars PROXY and UPSTREAM should be replaced by BACKEND? I know this is exactly what you have typed,  I am just trying to figure out why the test I am running is not working. If BACKEND is now used for passing than that should explain my issue.

[2021-05-28 06:19] timwsuqld commented on #26
This has caught me out now, the README is incorrect causing the image to not work. It needs to be kept up to date with https://github.com/coreruleset/modsecurity-docker

[2021-06-01 03:30] timwsuqld opened #32 "Upstream supports more ENV vars"
`src/etc/modsecurity.d/modsecurity-override.conf` in upstream is more configurable than in this image.

https://github.com/coreruleset/modsecurity-crs-docker/blob/master/src/etc/modsecurity.d/modsecurity-override.conf
vs
https://github.com/coreruleset/modsecurity-docker/blob/master/src/etc/modsecurity.d/modsecurity-override.conf

Upstream allows things like `MODSEC_AUDIT_LOG_TYPE` to override the

[2021-06-01 06:26] franbuehler commented on #32
Hi @timwsuqld!

Thank you for your report.
We'll investigate this issues.

[2021-06-01 20:02] franbuehler commented on #32
I'll provide a PR that will consolidate both files.

Or if you want to provide a PR, please just go ahead @timwsuqld?

[2021-06-01 23:11] timwsuqld commented on #32
After more investigation, I don't see why we can't just stop override the `modsecurity-override.conf` file from upstream. I can't see anything that we add to it for our use? I think it was in this repo before it was updated upstream, but now we could just remove it from our build.

[2021-06-02 06:29] franbuehler commented on #32
Oh yeah, that's smart. @fzipi , do you see something that speaks against it?

[2021-06-02 13:28] fzipi commented on #32
100% agreed. Let's go for it!

[2021-06-02 20:30] franbuehler commented on #32
Do you want to provide a PR @timwsuqld or shall I?

[2021-06-03 00:59] timwsuqld commented on #32
@franbuehler PR created

[2021-06-03 10:01] franbuehler commented on #32
Great, thank you very much for the PR!
I will test the behavior and review the PR.

[2021-06-24 13:17] fzipi commented on #19
Fixed the bad URI in the Docker Hub page.

Regarding adding more architectures, from what I see from official images for https://github.com/docker-library/httpd for example, some are unstable.

Also, we might not be able to support *all* additional architectures, so let's see which ones might be good for our case and why.

[2021-06-24 13:18] fzipi commented on #18
Fixed.

[2021-06-24 13:18] #18 closed

[2021-06-29 17:40] fzipi commented on #13
Agreed. I've verified this also and works as expected.

[2021-06-29 17:40] #13 closed

[2021-06-29 19:42] fzipi commented on #26
This was done.

[2021-06-29 19:42] #26 closed

[2021-07-01 08:48] TheBigLee opened #38 ""Minor versions" tags of docker images are not updated anymore"
Since the refactoring of the github actions, the minor version tags of the docker images are not updated anymore.

Eg. the tag `3.3-apache` has not been updated when the new `3.3.2`version has been released.

The github actions should be adjusted, so that a patch-level release will also update the minor tag version of that image.

[2021-07-08 20:16] #32 closed

[2021-07-08 20:19] fzipi commented on #38
Thanks for the report, will take a look.

[2021-07-08 20:23] fzipi commented on #38
Wait: 3.3 you said? That's the old naming scheme. Take a look at the README.md to see the new one.

[2021-07-08 20:23] #38 closed

[2021-07-17 16:23] Ben-Atherton opened #39 "Overriding crs-setup.conf"
I am using this image but wish to override the crs-setup.conf file so that I can enable Application Specific Rule Exclusions, I have my docker-compose.yml file setup as below:

[code]

However the container goes into a reboot loop and the following errors are present in the logs:

[code]

Any ideas what I am doing wrong here or if this is a bug? There are no specific instructions in the readme abo

[2021-07-29 13:09] RALGIE opened #40 "Redirect issue with the owasp/modsecurity-crs:apache docker container"
Hello,

I have an issue with the redirect. I have the following docker-compose file.

[code]
When I display the url https://localhost the login page is displayed. But when I login I'm redirected to an other page in my portal  https://localhost/main (http://192.168.2.52:8080/main). This redirect is not happening. I get an page could not be displayed.

This is what I found in the logfile:
[code]
Wha

[2021-07-29 15:11] RALGIE commented on #40
Correction: I'm am redirected to an http (http://localhost/main) version from the url. When I replace it with http**s**://localhost/main I am logged in. Has this to do with the `X-Forwarded-For` header?

I tried to lookup how to configure this but I didn't find a solution.

[2021-08-04 14:53] #40 closed

[2021-08-05 09:13] MitchellCash commented on #6
I also just ran a `trivy` scan against `owasp/modsecurity-crs:v3.3.2-nginx` and it returned:

[code]

Now that `modsecurity-docker` has moved to Alpine it would be nice to see `modsecurity-crs-docker` also move from Debian to Alpine.

NGINX maintain both Debian and Alpine images, so hopefully this is not a large increase in maintenance burden as we can still rely on default upstream images.

[2021-08-26 03:27] jamesmeneghello opened #42 "Websockets: 400 Bad Request"
Websocket requests seem to be broken. Looks like an error in the Nginx config (`/etc/nginx/conf.d/default.conf`):

[code]

Should instead be:

[code]

[2021-09-15 06:37] michael-os opened #44 "Latest builds not pushed to nginx tag"
According to the Readme in this repo, nginx and 3.3.2-nginx should point to the "last stable ModSecurity v3 on Nginx 1.20 official stable base image, and latest stable Core Rule Set 3.3.2". However, on the Docker hub, the nginx tag was last pushed 8 month ago while v3.3.2-nginx was pushed 2 days ago. This also differs from the apache tag, which indeed gets pushed in sync with the v3.3.2-apache tag

[2021-09-16 08:29] franbuehler commented on #44
Thank you @michael-os,

I will have a look at this!!

[2021-09-20 10:49] franbuehler commented on #44
Hi @fzipi
Why do we only tag v3.3.2-apache to apache and not v3.3.2-apache to nginx?
This would resolve this issue here.

https://github.com/coreruleset/modsecurity-crs-docker/blob/master/.github/workflows/buildimage.yml#L33

And do we want to remove the version **v** from the names as the reporter suggested? I'm not sure here.

[2021-09-21 21:22] #44 closed

[2021-09-23 18:07] fzipi commented on #19
We are now building 4 different architectures 🎉 .

[2021-09-23 18:07] #19 closed

[2021-09-23 18:12] fzipi commented on #42
Basically that setting comes from the map above:
[code]
@jamesmeneghello Do we need to fix the map instead?

[2021-09-27 16:53] archletekke opened #48 "Error uploading files using v3.3.2 - Multipart parsing error: Multipart: Final boundary missing."
With the last update (and removal of old images - why, btw?) to 3.3.2 we can not upload files anymore properly without triggering the following error:

[code]

Is this some kind of a regression or did something change with the rules that would cause this behaviour change?

Using the 3.3.2-nginx image.

[2021-09-28 09:18] redRolf opened #49 "Directive Rules error"
Hi, I am currently running into the following Problem:

`2021/09/28 08:57:45 [emerg] 1#1: "modsecurity_rules_file" directive Rules error. File: /etc/modsecurity.d/owasp-crs/crs-setup.conf. Line: 96. Column: 45. Invalid input:  phase:1,pass,log,tag:''"" in /etc/nginx/conf.d/modsecurity.conf:2
nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /etc/modsecurity.d/owasp-crs/crs-setup

[2021-09-28 09:54] Darkguver commented on #48
Hi we experienced the same issues,
and regarding the audit logging it has to do with the :
[code]

The Owasp is trying to write this to non existing folders by default it works for us by overwriting these env vars to /tmp

[2021-09-30 13:00] redRolf commented on #49
My bad, I found the issue.
The cause was a misconfigured .env setting in the docker-compose file.

[2021-09-30 13:00] #49 closed

[2021-09-30 14:28] eshaan7 commented on #48
+1.

[2021-10-04 07:52] archletekke commented on #48
Did you just override them in the custom config section in the nginx.conf file? Or rather in the env variables of the dockerfile?

[2021-10-04 08:30] archletekke commented on #48
Changing the values in the Dockerfile worked for me. Ideally, this should still be fixed in the repo itself tho.

[2021-10-05 16:01] h3xstream opened #50 "Redirect infinite loop in proxy mode"
I upgrade to version 3.3.2. My docker configuration is no longer working.

[code]

I get the following warning :
[code]
Followed by:

<details>
  <summary>Coutless request with `X-Forwarded-For`</summary>

[code]
</details>

[2021-10-05 17:39] h3xstream commented on #50
I needed to replace `PROXYLOCATION` by `BACKEND`

[2021-10-05 17:39] #50 closed

[2021-10-14 12:41] fzipi commented on #42
@jamesmeneghello Any comments? Otherwise, we are closing this one.

[2021-10-19 13:31] fzipi commented on #42
Thanks for the explanation, reopening.

[2021-10-19 17:11] #42 closed, assigned to fzipi

[2021-10-30 19:42] fzipi commented on #48
Closing.

[2021-10-30 19:42] #48 closed

[2021-11-10 10:43] rfricz opened #51 "ModSecurity not compiled with GeoIP support on arm64"
Hi, when running the nginx image on arm64 arch, I have to disable (delete) the REQUEST-910-IP-REPUTATION rule to be able to start nginx, otherwise it fails with
[code]
The amd64 arch doesn't have this problem.

I can see that libgeoip-dev is installed in the owasp/modsecurity:nginx image before building ModSecurity, so I don't understand why it fails. I have tried installing various packages (libg

[2021-11-13 21:40] pythonmobile opened #52 "build issues?"
When I do
   docker buildx use $(docker buildx create --platform linux/amd64)
   docker buildx bake -f docker-bake.hcl

I get

[code]

[2021-11-26 18:40] fzipi commented on #51
This is solved by https://github.com/coreruleset/modsecurity-docker/pull/98.

[2021-11-26 18:43] fzipi commented on #52
Can't reproduce this one.
[code]
@pythonmobile Is this still happening to you?

[2021-11-30 22:01] fzipi commented on #51
@rfricz It is building now, should take ~~ 4 hours.

[2021-11-30 22:01] #51 closed

[2021-11-30 22:01] fzipi commented on #52
Closing.

[2021-11-30 22:01] #52 closed

[2021-11-30 22:03] fzipi commented on #6
@MitchellCash Can you run it again now that we have alpine images? We still need to run this in a pipeline.

[2021-12-01 10:55] MitchellCash commented on #6
@fzipi Alpine based image looks good to me on the initial `trivy` scan (also the image is almost half the size)! Nice work!

**Debian based image**

[code]

**Alpine based image** 🥳

[code]

[2022-01-01 16:30] woefe opened #54 "Default USER=daemon conflicts with modsecurity-docker"
The parent modsecurity-docker image uses `www-data` by default and [`chown`s temporary files to that user](https://github.com/coreruleset/modsecurity-docker/blob/c6ec7ffe17c0b14309779f7ad21bc3498a663e94/v2-apache/Dockerfile#L128). The modsecurity-crs-docker image uses the `daemon` user by default (see [Dockerfile](https://github.com/coreruleset/modsecurity-crs-docker/blob/66d1883852e3ff1c2b4fa9375

[2022-01-01 18:02] fzipi commented on #54
Hey, thanks for creating this one.

There was a bug in upstream httpd image that was recently fixed.

Let me take a look and see if we can fix this for good.

[2022-01-10 18:11] archletekke opened #55 "Running with non-root access with the nginx user"
If anyone else is wondering how to use this image for in a non-root context then what worked for me in the Dockerfile:
[code]

[2022-01-10 18:12] archletekke commented on #55
Maybe it is possible to set up the base images so that all of the required directories are owned by nginx already?

[2022-01-13 09:34] lasperr opened #56 "sed error when running container with non-root user"
A sed-command error appears when starting the container with non-root user.
[code]
I've tried to avoid that error using `chmod -R 777` and `chown`, but it doesn't work.

[2022-01-17 13:36] fzipi commented on #55
Hi @archletekke ! Let me take a look at this one.

[2022-01-17 13:37] fzipi commented on #56
HI @lasperr ! Which container are you using?

[2022-01-17 16:07] lasperr commented on #56
Hi @fzipi ! I used `modsecurity-crs:nginx` image

[2022-01-18 13:41] fzipi commented on #54
This is definitely a bug, should be changed to www-data. Will send a PR.

[2022-01-18 13:48] fzipi commented on #56
Probably related to #55 then. When adding those permissions, will fix this. Let me take a look.

[2022-01-18 13:50] #54 closed

[2022-01-18 13:51] fzipi commented on #55
I don't think you need to change the whole `/usr/local` directory to nginx... 🤔

[2022-01-18 16:13] fzipi commented on #6
Good, this matches my own tests. I don't think we can do too much in the debian image (I've checked a couple criticals, and they are still there :/ ).

[2022-01-19 18:28] fzipi commented on #55
@archletekke Can you try to following the [documentation from upstream](https://hub.docker.com/_/nginx/), the part that says "Running nginx as a non-root user", and let us know?

[2022-01-24 09:27] archletekke commented on #55
I guess that could work as well. My proposal was that the security-focused docker image could be non-root by default. Meaning that the crs docker image has the non-root config defined in its own dockerfile.

[2022-01-24 09:33] archletekke commented on #56
I resolved it by looking at all of the paths that you are using in your config files and then chowning them one by one. It is possible that you are also using directories like `/var/www/...` which I decided to not use and am using a `/home/nginx/app` path rather.

[2022-02-01 12:51] vojch opened #59 "expirevar not working; DOS blocked IP doesn't get unblocked"
We are experiencing issues with expiring DOS block flag of IP addresses after testing an attack.

With following configuration, used for testing purposes, IP address is correctly blocked, but it doesn't get unblocked after 30s, or actually ever, unless the container is restarted.

[code]

[code]

Doing some research we came across the issue of `expirevar`, used in REQUEST-912-DOS-PROTECTION.conf,

[2022-02-01 13:11] fzipi commented on #59
Sure, will take a look.

[2022-02-01 13:13] fzipi commented on #59
@theseion Do you think the proposed workaround can be included in the nginx builds?

[2022-02-01 16:04] theseion commented on #59
I don't see why not. However, it's not a general purpose fix for `expirevar`, only for DOS blocking, so other uses of `expirevar` will require additional work. We should discuss this in the meeting. I'll put it on the agenda.

[2022-02-09 20:19] theseion commented on #59
So the plan is to move the DOS rules into a plugin for the v4 release. After that is done we will add the workaround for NGiNX, possibly by adding them as another plugin. That would solve your issue I believe, @vojch.

I've opened a [separate issue](https://github.com/coreruleset/coreruleset/issues/2389) to track that.

[2022-02-09 20:19] #59 closed

[2022-02-17 22:39] pestebogdan opened #60 "Support for analyzing gzip-ed body requests"
Trying to send a gzip-ed body cannot be parsed:

[code]

Error:

[code]

The only solution I see is setting `MODSEC_REQ_BODY_ACCESS=off` but that opens up a lot of security holes.

Is there any support for handling such requests ?

[2022-02-18 13:31] fzipi commented on #60
HI @pestebogdan ! Do you think this is a problem with this docker setup, or it is more a problem for ModSecurity and the nginx connector?

[2022-02-23 21:38] Captainzalad opened #61 "owasp/modsecurity-crs:{nginx/apache} as a standalone webserver"
Hello,
I am getting hard to run a quick apache/nginx webserver + waf for demonstration purposes,
I would prefer to use owasp/modsecurity image as a standalone server rather than a reverse proxy,
I followed the documentation for both modsecurity with and without crs, but no success.
here is my issues:
[code]

after running the above command, under localhost:8080 nginx always services 50x.html rathe

[2022-02-27 12:59] fzipi commented on #60
@pestebogdan I think this is a native problem and doesn't depend on this docker setup. This should be solved ad the ModSecurity-nginx level I think. Can you cross post this problem there? I don't think here we can solve it.

Closing.

[2022-02-27 12:59] #60 closed

[2022-02-27 13:06] fzipi commented on #61
Hi @Captainzalad, sorry for the delay. As a matter of fact, this was a feature in the past.

If you look at https://github.com/coreruleset/modsecurity-crs-docker#notes-regarding-reverse-proxy, it should be supported. But looking at the implementation, it is clearly not supported anymore 🤔 .

Now reverse proxy is the default mode. What I can do is create a new EMBEDDED mode, that should work as you

[2022-03-01 08:11] bogdan-ionut-peste-db commented on #60
Ok, that's fair enough. Just thought there might be some input that alleviates this that i may have missed. Will follow through upstream with this issue. Thanks.

[2022-03-08 15:02] arnegroskurth opened #62 "Dysfunctional `owasp/modsecurity-crs:3.3-nginx` and missing images"
The current image variant `owasp/modsecurity-crs:3.3-nginx` is no longer functional:

[code]

Unfortunately, all images on docker-hub (see: https://hub.docker.com/r/owasp/modsecurity-crs/tags) have just been overridden and it is not possible to pull an older variant. This should definitely be fixed to allow (automatic) rollbacks in case a newer image is broken.

[2022-03-08 18:27] SNoble6 commented on #62
Same for 3.3.2-nginx

[2022-03-10 19:59] fzipi commented on #56
So which perms need to be changed then?

[2022-03-11 11:05] fzipi commented on #62
@arnegroskurth Did you pull the new one?:
[code]

[2022-03-11 15:36] arnegroskurth commented on #62
Its now working again - thanks!

But the issue about the replaced images on docker-hub remains - not being able to roll back in case of a future breaking change is a major issue imo.

[2022-03-19 16:07] ne20002 opened #65 "Running behind reverse proxy, wrong client IP logged"
Hi

I have the container running behind a reverse proxy an I get the wrong IP logged in nginx error.log:

```2022/03/19 15:56:35 [error] 23#23: *3057 [client 10.0.2.100] ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `Ge' with parameter `5' against variable `TX:ANOMALY_SCORE' (Value: `5' ) [file "/etc/modsecurity.d/owasp-crs/rules/REQUEST-949-BLOCKING-EVALUATION.conf"] [line

[2022-03-21 08:15] ne20002 commented on #65
Ok, got it. There is an nginx module for handling header information as remote_addr. Makes ist eays.

[2022-03-21 08:15] #65 closed

[2022-03-23 13:54] fzipi commented on #62
Let's create a new ticket to follow missing images.

[2022-03-23 13:54] #62 closed

[2022-03-23 13:55] fzipi opened #67 "Look on how to retain older images in case latest is broken"
From #62 , we should investigate if we can have old images laying around in hub.
[code]

[2022-04-02 10:44] ne20002 commented on #61
I'm pretty sure it is possible to use the owasp/modsecurity-crs in standalone mode. This is what I did:

I have two pods (using podman instead of docker, but I'm sure that does not matter here): one with Nextcloud, the other with Friendica. Both used an nginx as web server in front of the php-fpm image.

- I replaced the nginx container with the owasp:modsecurity.crs. It worked out of the box, as

[2022-04-05 18:01] studersi opened #69 "Cannot set BLOCKING_PARANOIA lower than DETECTION_PARANOIA"
https://github.com/coreruleset/coreruleset/pull/2417#issuecomment-1068510951 by @studersi

[2022-04-05 21:46] fzipi commented on #61
Thanks for the comment.

[2022-04-05 22:38] #69 closed

[2022-04-13 16:01] esencia commented on #39
Hi Ben, ¿Could you give me some advice about customizing the crs-setup.conf? I get the same 'Device or resource busy' error.
Thanks!

[2022-04-13 23:14] mbrozzo opened #71 "Nginx configuration problem?"
Hello, I am doing a university project and I was advised to use this container. I thought it was working fine, but tonight when I tried it and I accessed the modsecurity port, I got this:
![image](https://user-images.githubusercontent.com/22538059/163284286-47f89be6-ccf5-4dc3-95d7-542d4329ca34.png)
So I tried using a very very simple docker-compose.yml (please check if I have made any mistakes in

[2022-04-14 10:41] arnegroskurth commented on #67
The images have been overridden again and caused an outage of one of our services due to changed behaviour (not yet diagnosed).

This makes the images unusable for any productive scenario.

[2022-04-14 13:19] fzipi commented on #67
Hi @arnegroskurth ! Sorry to hear that. We can try maybe adding a timestamp to the images,  like `3.3.2_2022041401`. But then "latest 3.3.2" should point to the one with the last date.

[2022-04-14 13:22] floriannadaud commented on #71
Hi there :wave:

We are having the same issue since someone has override the [3.3.2-nginx](https://hub.docker.com/layers/modsecurity-crs/owasp/modsecurity-crs/3.3.2-nginx/images/sha256-41c5bdd3890f951b5859860e3f7cbbae186e9315cfaecedfedf6d6111d5d8c85?context=explore) image tag

Our current workaround is to use a previous image digest form the `3.3.2-nginx` tag:
`owasp/modsecurity-crs@sha256:ce648dd

[2022-04-14 13:23] limemdhafer19 commented on #71
Same problem here !!!

[2022-04-14 17:18] b0z02003 opened #72 "Modsecurity CRS is expecting a missing file"
Starting from yesterday, `owasp/modsecurity-crs:nginx-alpine` refuses to start when using a simple Nginx configuration such as:
[code]
The reason seams to be that `/etc/modsecurity.d/setup.conf` is expecting a file named `/etc/modsecurity.d/modsecurity-override.conf` that is missing.

[2022-04-14 17:20] mbrozzo commented on #71
Definitely a bad idea to overwrite the tag! Thank you for the workaround, I will try it when I have time.

[2022-04-15 14:25] theseion commented on #71
Thanks for reporting this. I noticed the same today by chance. We'll look into it.

[2022-04-15 14:26] theseion commented on #72
Thanks for reporting this. It could be related to https://github.com/coreruleset/modsecurity-crs-docker/issues/71. We'll look into it.

[2022-04-15 14:28] theseion commented on #72
An issue with the image was fixed in https://github.com/coreruleset/modsecurity-crs-docker/issues/62. Can you try force pulling the image?

[2022-04-15 14:28] theseion commented on #71
An issue with this image was fixed in https://github.com/coreruleset/modsecurity-crs-docker/issues/62. Can you force pull and check whether your issue persists?

[2022-04-15 15:55] b0z02003 commented on #72
Unfortunately, the problem still seems to exists, here is the content of the `/etc/modsecurity.d` directory with a fresh image:

[code]

[2022-04-15 15:56] theseion commented on #72
Thanks for checking. We'll investigate.

[2022-04-16 13:14] theseion commented on #72
@fzipi I think we forgot to apply the same logic as we did for the `modsecurity-docker` images to the `modsecurity-docker-crs` images. The `docker-entrypoint.sh` file in `modsecurity-docker-crs` replaces the one from the upstream image. None of the scripts in `/docker-entrypoint.d` are being run because of this.

[2022-04-16 13:16] theseion commented on #71
Closing this as duplicate of #72, and considering addressed in #67.

[2022-04-16 13:16] #71 closed

[2022-04-16 13:41] mbrozzo commented on #71
I have pulled the new image from docker hub but I am still getting the same problem. Am I missing something?

[2022-04-16 14:06] theseion commented on #71
Sorry. I meant to write that overwriting of image tags should be addressed by #67.

[2022-04-16 15:32] #72 closed

[2022-04-19 11:51] matthiasbaldi commented on #67
We had the same problem on our side - We got cached by the fact, that the underlying Nginx Docker image also changed and the new template paths came in.
May you could also try to decouple the two versions. It should be allowed to add i.e. `3.3.2-134`, then you have in the first part the modsecurity version and behind a buildnumber/releasenumber for the Dockerfile.
Or decouple it completely and set

[2022-04-19 14:28] Ben-Atherton commented on #39
I'm not sure why I ended up closing this issue as it is something I am still experiencing, has anyone got any ideas?

[2022-04-19 16:05] fzipi commented on #67
Thanks all for the comments again. I will try to do some tests with my personal repos and see if this can be achieved easily.

The solution I'll try is to add a timestamp like `nginx-2022041901`, etc. Any tag that can be referred to in a static way, and let people control when to update.

[2022-04-19 17:33] arnegroskurth commented on #67
I think even though that would already been an improvement from the current situation, it is not really ideal as the update process is much less straight forward with that solution. Semantic versioning is all about categorizing and communicating changes to your software component which is completely gone when you effectively version the component by date. With just a meaningless date as versioning

[2022-04-19 18:23] fzipi commented on #67
Sorry, the reasoning for the tag, or for updating in general?

[2022-04-19 18:26] arnegroskurth commented on #67
For preferring date-strings added to versions from another component (the CRS, I presume), rather then semantically versioning this component independently.

[2022-04-19 18:26] fzipi commented on #67
Sure!

[2022-04-19 18:27] fzipi commented on #67
In any case, we receive PRs if anyone here wants to help.

[2022-04-20 11:00] matthiasbaldi commented on #67
A PR is a bit hard while it is not clear in which direction you wanna go.
Personally I think a dedicated versioning for the images is better. This is also the way @arnegroskurth would prefer, when I understood him correctly. But maybe I can show with the following lines how to solve the problem with Github Actions.
Just as an idea 💡.

To reach something like this you could replace the static versi

[2022-04-20 14:56] bguerout opened #74 "Unable to configure modsecurity as a reverse proxy"
Hello,

I'm trying to add modsecurity into a docker-compose stack.
The modsecurity (waf) is configured as a reverse proxy and should forward requests to a container named `server`

[code]

Unfortunately even with DNS_SERVER provided, modsecurity is unable to resolve the upstream (ie. server).

The modifications made by the entrypoint named `91-update-resolver.sh` seems to be erased by something (m

[2022-04-20 16:33] bguerout commented on #74
After looking in the code, the template `nginx.conf.template` has been modified from the `modsecurity-docker` version and the following line does not longer exist

[code]

`91-update-resolver.sh` entrypoint from `modsecurity-docker` is broken and it's no longer possible to configure the resolver `directive` with `DNS_SERVER` variable.

[2022-04-20 20:05] fzipi commented on #67
Ok, let me think about this for a bit, and will circle back. Using just `latest` was deprecated because we have "two" latest (one for apache and one for nginx)

[2022-04-23 06:01] theseion commented on #39
The issue is that we use `sed` to modify rules. That doesn't work if you mount read-only (not sure whether mounting in general is an issue). We will need a way to disable this for your use case (e.g., an additional variable).

If you are providing a custom crs-setup.conf, I presume you don't need any of the variables that control paranoia level etc., correct? We could then call this "MANUAL_MODE"

[2022-04-23 14:00] Ben-Atherton commented on #39
That sounds like a good solution to me

[2022-04-26 23:25] redRolf opened #76 "NGINX Docker Container Broken"
Since you latest update the following things do not work any more:

* There is no log output from the NGINX server to standard out
* The WAF no longer routes traffic to the configured endpoints
* The audit log is now longer created
* Custom error pages don't work

In short the image became unusable...

Why is this setup no longer working? I just don't understand why this no longer works, as there

[2022-04-26 23:57] redRolf commented on #76
Changeing the image name to:

[code]

Allowed me to use an older image that still worked.

[2022-04-27 00:55] fzipi commented on #76
Hi @redRolf !

I'm sorry to hear that something is broken. To solve this, [take a look here](https://github.com/coreruleset/modsecurity-docker#nginx-based-images-breaking-change).

We will probably be porting that documentation part to this image.

Best,
Felipe.

[2022-04-27 00:57] fzipi commented on #76
In essence, you need to change this:
[code]
To something that keeps the structure you want under `/etc/nginx/templates`:
[code]

[2022-05-04 10:52] fzipi commented on #67
Didn't forgot about this, we are kind of overwhelmed with the bugbounty program on CRS these couple of weeks.

[2022-05-04 11:07] fzipi opened #77 "User mismatch in README and dockerfile in Apache"
There is a mismatch in what we say in the README and the actual Dockerfile for the Apache build.

We state that the default user is `daemon`, but in fact it is running as `www-data`.

We need to fix this and move to `daemon`, or correct the README.

[2022-05-10 21:56] redRolf commented on #76
@fzipi I am so sorry, I only got back to you now. But I finally found the time to fix the issue :) Your tips on changing the location and name of the nginx.conf helped a lot.

The final puzzle piece was though,  that running   `CMD cron && nginx -g "daemon off;"` at the end of the docker file no longer works with the new NGINX container.

any additional services that are to be startet along with t

[2022-05-10 21:56] #76 closed

[2022-05-10 22:40] fzipi commented on #76
Excellent, good to know! I will add this to the general readme, for sure it might help someone!

[2022-05-29 13:23] #77 closed

[2022-05-29 13:27] theseion commented on #74
Fixed by #79. @bguerout can you verify?

[2022-05-29 13:27] #74 closed

[2022-07-27 08:59] igoooor opened #82 "Apache LOGLEVEL or ACCESSLOG does not seem to have an effect"
Hello there,

I set my `LOGLEVEL` to `error` but I still see access logs in the container stdout. Did I misunderstood the purpose of `LOGLEVEL`? If so, is there a way to disable apache access logs?

Thanks!

[2022-07-27 11:50] fzipi commented on #82
To disable apache access logs, you can set `ACCESSLOG=/dev/null` I guess. See https://github.com/coreruleset/modsecurity-docker#apache-env-variables from the base container. The crs container is [sending the errorlog to stderr](https://github.com/coreruleset/modsecurity-crs-docker/blob/9ad7304a5f57ee7c06edd5660779a62648864d2d/apache/Dockerfile#L32)

[2022-07-27 12:15] igoooor commented on #82
Good hint indeed, but weirdly enough I could not make that work. I'm checking this path a bit more

[2022-07-29 08:00] igoooor commented on #82
So far I was not able to stop accesslogs from showing up. Anyone managed to do so?

[2022-07-30 11:15] fzipi commented on #39
Sorry for the delay. #83 should fix this issue, with the new `MANUAL_MODE`.

[2022-07-30 11:38] fzipi commented on #82
Ok, I think it was hiding in plain sight, but enough to be ignored. Short answer: you can't do it right now. This is because, while the base container will use the `ACCESSLOG` you provide, it **also** uses the directive `TransferLog`, and sends it unconditionally to stdout :/

I'm creating an issue in the base container to track this. Thanks for the report!

[2022-07-30 11:42] igoooor commented on #82
Thank you for your support!

[2022-07-30 12:14] fzipi commented on #82
Even after doing this:
[code]
I'm still getting access logs 😠 ! So I think this comes from the upstream httpd container. 😄

[2022-07-30 12:16] fzipi commented on #82
And here is the place: https://github.com/docker-library/httpd/blob/f3b7fd9c8ef59d1ad46c8b2a27df3e02d822834f/2.4/Dockerfile#L205-L212.

We will need to do a similar change.

[2022-07-31 12:58] #39 closed

[2022-08-02 06:25] igoooor commented on #82
I see the PR on the base container image is merged, so I guess it will soon make its way to the docker image?

[2022-08-06 12:26] ne20002 opened #84 "docker-entrypoint copy in wrong order?"
Hi
Looking on the log of my started container I wonder if there might be a problem with the order of the processed scripts.
[code]
I believe the script _20-envsubst-on-templates.sh_ overwrites the file _/etc/nginx/conf.d/default.conf_ which has been modified before in _10-listen-on-ipv6-by-default.sh_.

[2022-08-09 13:36] igoooor opened #85 "500 error for big request body without files on Apache"
I have a form which submits base64 images, so the request body size is somewhere in the 8Mb.
If I don't specify `MODSEC_REQ_BODY_NOFILES_LIMIT` with a big number, then I will see the modsec rule `200002` to fire.
If I specify `MODSEC_REQ_BODY_NOFILES_LIMIT` with a big enough number (25Mb in my case), the modsec container will not show any errors, however my page will display a `500 Internal Server

[2022-08-15 19:01] theseion commented on #85
Hi @igoooor. I don't know what the `traefik` plugin does. Have you tried using the image without installing the `traefik` plugin?

Other that that, what comes to mind is that you will probably have to also set `MODSEC_REQ_BODY_LIMIT` to at least the same size.

[2022-08-15 19:23] theseion commented on #84
Thanks for the report @ne20002.

You're right, we override that file after IPv6 has been enabled. I don't think that's a problem though. If you want to enable IPv6 you can simply override that file. You could also provide a PR to make it configurable if you think others would benefit from that too.

Do you need IPv6?

[2022-08-15 19:35] theseion commented on #82
It should... @fzipi?

[2022-08-15 21:16] fzipi commented on #82
We have a weekly build, so it should be there already 🤔.

Can you try it?

[2022-08-16 06:21] ne20002 commented on #84
My systems are dual stack enabled but as far as I see, the Nginx proxy forwards IPv6 connections via IPv4 to the upstream servers (e.g. this one). I'm not sure if this is a performance issue but it works.

I also wonder about this whole process about copying template files. As the Nginx base image allows to be runned in read-only mode aka read-only root file system, this template copying breaks th

[2022-08-16 19:09] theseion commented on #84
The conf files don't have default values, just placeholders. The default values are set in the Dockerfile at build time.

Absolutely. We can't cover every variable or use case, so it's perfectly normal to just supply your own and ignore all of the variables.

I'll close this issue. We can reopen it if the need arises.

[2022-08-16 19:09] #84 closed

[2022-08-22 04:23] fzipi commented on #82
@igoooor Were you able to test this? Is it working now?

[2022-08-28 22:21] fzipi commented on #55
There might be another option: we could use https://hub.docker.com/r/nginxinc/nginx-unprivileged from upstream instead. Will check if this works out of the box for us.

[2022-08-29 07:30] igoooor commented on #82
sorry for my late reply I was away.
Yes it seems to be working now with the latest docker build :)

[2022-08-29 07:30] #82 closed

[2022-09-12 10:28] TafkaMax opened #86 "Regex could not be compiled"
Hi

I am trying to use a custom vhost.conf file and I mounted it at conf/extra/httpd-vhost.conf

[code]

vhost.conf
[code]

[code]

Is there an issue in my regex?

[2022-09-12 10:38] TafkaMax commented on #86
Answered myself:

yes

now works
[code]

[2022-09-12 10:38] #86 closed

[2022-09-14 10:41] andrei-piarainc opened #87 "Please don't reuse version tags on Docker Hub! Image was unexpectedly overwritten."
We used tag "owasp/modsecurity-crs:3.3.2-nginx" in our setup and once after restart of the environment (with cleaning docker images cache) we suddenly realized that our application does not work anymore. The reason was changed modsecurity nginx image, that was uploaded on Docker Hub under the same tag! This was completely unexpected. Normally one can expect that image being published once under so

[2022-09-14 11:12] fzipi commented on #87
Thanks for reporting. We are aware of this, there is an open issue, #67.

[2022-09-14 11:12] #87 closed

[2022-09-15 16:11] fzipi commented on #67
Ok, started with something. This is the PR I have for the base docker: https://github.com/coreruleset/modsecurity-docker/pull/140. If you have any comments, please add them there! the idea is to replicate it here in a similar way.

[2022-09-17 06:25] theseion opened #97 "Consider using extended format for logging"
@dune73 suggested to use the extended log format as described here: https://www.netnea.com/cms/apache-tutorial-5_extending-access-log/#step_4_configuring_the_new,_extended_log_format.
Variables are described here: https://www.netnea.com/cms/apache-tutorial-6_embedding-modsecurity/#step_5_creating_the_base_configuration.

[code]

If we do this, I suggest also updating the nginx log format to match

[2022-09-22 01:16] #67 closed

[2022-09-22 09:14] matthiasbaldi commented on #67
Nice. Thank you.
I this will help to get a more stable setup 👍👌

[2022-09-22 16:03] fzipi commented on #87
@andrei-piarainc The changes are live now. Can you test them and see if they work for your use case?

[2022-09-22 16:03] fzipi commented on #67
Changes are live now. Can you test them and see if they work for your use case?

[2022-09-22 16:14] andrei-piarainc commented on #87
Thanks! I had some problems with certificates on recent builds of nginx-based image, that is why I noticed the problem with tags, but I'll test getting new tags at least.

[2022-09-23 16:08] andrei-piarainc commented on #87
I've tested build of our image based on new tag `owasp/modsecurity-crs:3.3.4-nginx-202209221209`
Build was successful, and container started OK.
It still does not work because of problem with certificates, but I'll report it in a separate issue.

[2022-09-23 16:58] andrei-piarainc opened #90 "SSL certificates are not loaded in Nginx image"
We were using tag `owasp/modsecurity-crs:3.3.2-nginx` to build our application image on top of it. It worked fine until image under that tag was updated in DockerHub and our SSL certificates suddenly stopped working. No changes were done on our side, we just rebuilt our image with the same source code and the same FROM tag. If we build from original image of the same underlying Nginx version - it

[2022-10-01 14:06] igoooor opened #91 "context deadline exceeded (Client.Timeout exceeded while awaiting headers)"
Hello,

I am using `owasp/modsecurity-crs:apache-alpine` in my kubernetes cluster.
The image is configured in a `Deployment` and I have the following liveness & readiness defined:
[code]

`BACKEND` is pointing to a "dummy" nginx always returning `200`
Everything seems to work well, but from time to time, "legit" requests as well as the two healthchecks above give the following error:
`context dead

[2022-10-01 15:29] fzipi commented on #91
Hi @igoooor !

Thanks for the report. Just to have additional context, can you add kubernetes version and runtimes you are using?

[2022-10-01 15:38] igoooor commented on #91
Yes of course, I'm running my cluster on GKE, `v1.23.8-gke.1900`

[2022-10-02 07:00] theseion commented on #91
That message comes from the Go HTTP client, which must be the Kubernetes control plane. Since the container is configured as a proxy, it could be that your nginx container isn't responding. It could also be that the container itself doesn't respond. In both cases I would expect to see some issue on the cluster, e.g., container restarts.

If you don't see any issues, you could try stopping your ngi

[2022-10-02 11:43] fzipi opened #96 "Sign images using cosign"
Check what is needed to sign images using cosign.

References
- https://github.com/sigstore/cosign-installer

[2022-10-02 18:00] igoooor commented on #91
Thank you for the hint, let me make a couple of tests in the next hours/day and I will update the issue accordingly

[2022-10-03 14:19] igoooor commented on #85
I don't seem to be able to reproduce this, so I will close it for now.

[2022-10-03 14:19] #85 closed

[2022-10-19 19:05] TafkaMax opened #94 "How to pass error messages from backend."
Hi

We are having a small issue, where all of the error messages come from the proxy and are not passed from the backend application.

# Inside the docker container

## List of files that are involved.

[code]

Now the problem is that inside the container the apache configuration httpd.conf does NOT include the httpd-multilang-errordoc.conf by default. It is commented out.

I can't seem to find an

[2022-10-19 19:18] fzipi commented on #94
Hi!

which error are you trying to show?

[2022-10-19 19:23] TafkaMax commented on #94
I will expand on this a little.

We have a keycloak installation and an application that use it for authentication.

Keycloak uses the modsecurity-crs:apache and the application uses the modsecurity-crs:nginx

Keycloak should return an 401 unauthorized to the user, but it returns this.

![image](https://user-images.githubusercontent.com/46354923/196784821-d4a9826e-6b08-4d53-a16c-47dd939d2e55.png)

[2022-10-19 19:36] fzipi commented on #94
The problem is that apache is doing `ProxyErrorOverride on`.

[2022-10-19 19:41] fzipi commented on #94
Quick option for testing this: get [this file](https://github.com/coreruleset/modsecurity-docker/blob/develop/v2-apache/conf/extra/httpd-vhosts.conf), save it locally. Change ProxyErrorOverride to off. Use docker-compose or other to volume mount your local file over the original. Test and see if that solves your problem.

[2022-10-19 20:00] TafkaMax commented on #94
Yes, that worked, thank you for the help!

[2022-10-19 20:00] #94 closed

[2022-10-19 20:08] fzipi commented on #94
We can add that as an env variable.

[2022-10-20 12:07] fzipi commented on #91
Hi @igoooor! Did you had time to test this?

[2022-10-22 15:08] fzipi commented on #90
Hi @andrei-piarainc, sorry for the delay.

Tried to reproduce your issue, without any success.

Created test certificates, and I'm using this docker-compose.yml:
[code]

Starting container:
[code]

And this is my test:
[code]
As you can see, the certificate is being picked. Maybe there is something with secrets or some specific setup in your environment. Can you test with this docker-compose and y

[2022-10-24 10:16] andrei-piarainc commented on #90
@fzipi Thanks for looking into this, I've tried your example and it worked ok with our certificates. I've just was discouraged that our setup works with previous builds of "owasp/modsecurity-crs". Anyway, looks like the problem on our side, so I close this issue. Sorry for bothering.

[2022-10-24 10:16] #90 closed

[2022-10-24 10:35] fzipi commented on #90
No worries. Maybe it is a problem with docker secrets? Happy to help if you have a way of reproducing it :)

[2022-10-24 10:43] andrei-piarainc commented on #90
Probably secrets do not influence, I've tried attach certs as volumes to my image, like you do, and got the same problem with. I have still working setup, based on particular digest of older owasp/modsecurity-crs image build, only blocking to upgrade ;) I'll try put here more information when I find time to look into this once again.

[2022-11-16 11:19] fzipi commented on #91
No answer, closing.

[2022-11-16 11:19] #91 closed

[2022-11-16 11:24] fzipi opened #102 "Test that old image and new merged image are exposing the same vars"
Now that we merged the base image with this one, we need to test that all the pre-merge ENV vars are still the same.

**Requirements**
- pull last image before merge
- exec "/usr/bin/env", or open any shell terminal and get the env
- build image from develop branch
- exec "/usr/bin/env", or open any shell terminal and get the env
- compare and see if there is any difference

**Output**
- the compa

[2022-11-19 19:43] chovanecadam opened #103 "Slack link is broken"
Link to the [Core Rule Set Slack Channel](https://join.slack.com/t/owasp/shared_invite/enQtNjExMTc3MTg0MzU4LTViMDg1MmJiMzMwZGUxZjgxZWQ1MTE0NTBlOTBhNjhhZDIzZTZiNmEwOTJlYjdkMzAxMGVhNDkwNDNiNjZiOWQ) referenced in the [Quick reference](https://github.com/coreruleset/modsecurity-crs-docker#quick-reference) section of the README.md file is broken.

[2022-11-20 10:29] theseion commented on #103
Thanks! Opened PR to fix it.

[2022-11-20 10:39] #103 closed

[2022-11-24 12:36] fzipi commented on #102
For this test, I'm going to compare the build from the "old" image in the `master` branch, with the new `develop` branch.

## Apache Old versions

First, `git checkout master`, then:

1. Apache

[code]

2. Apache-alpine

[code]

## Apache New versions

First, `git checkout develop`.

1. Apache

[code]

2. Apache-alpine

[code]
## Apache Diff

### Apache base
[code]

### Apache-Alpine:
[code]

## 👉

[2022-11-24 15:26] fzipi commented on #102
Same process, now for nginx.

## Nginx "old" version

First, `git checkout master`, then:

1. Nginx

[code]

2. Nginx Alpine

[code]

### Nginx new

Change to branch `develop`. Repeat above process, but save to file `.new`

## Nginx Diff

### Nginx

[code]

### Nginx-alpine

[code]

## 👉 Image is the same.

[2022-11-24 16:25] fzipi commented on #102
I think we can now merge develop into master and have a new version out.

[2022-11-24 19:26] theseion commented on #102
Genius! Let's do it.

[2022-11-26 16:17] fzipi commented on #102
Closing.

[2022-11-26 16:17] #102 closed